<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto Tesis</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <div class="text-center">
      <img src="/img/logo-univ.png" alt="Logo UCUENCA" class="mx-auto img-responsive">
    </div>
    
    <h1 class="title bold-text">Universidad de Cuenca</h1>
    <h2 class="title">Facultad de Ingeniería</h2>
    <h2 class="title">Carrera de Electrónica y Telecomunicaciones</h2>
    <h2 class="title bold-text">Aplicación de MANET's como Sistema de Comunicación en la Movilidad Sostenible</h2>
    <h2 class="top-space bold-text left-aligned">Autores:</h2>
    <h2 class="title left-aligned">Nancy Eras</h2>
    <h2 class="title left-aligned">José A. Otavalo</h2>
    <h2 class="top-space bold-text left-aligned">Director:</h2>
    <h2 class="title left-aligned">Santiago Renán González Martínez</h2>

  </body>
</html>
